<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_shipment_save_after">
        <observer name="tracking_info_observer" instance="VendorName\TrackingInfo\Observer\SendTrackingInfoToPayPalObserver" />
    </event>
    <event name="sales_order_shipment_track_save_after">
        <observer name="tracking_save_info_observer" instance="VendorName\TrackingInfo\Observer\SendTrackingSaveInfoToPayPalObserver" />
    </event>
</config>
